* {
    margin: 0px;
    text-align: center;
    box-sizing: border-box;
}

header {
    background-color: rgb(190, 190, 190);
}

nav {
    background-color: rgb(220, 220, 220);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2px;
}

.logo {
    background-color: crimson
}

.menu {
    background-color: rgb(220, 220, 220);
    display: flex;
    gap: 50px;
}

main {
    background-color: black;
    display: flex;
}

section, aside, div{
    float: left;
    padding: 15px;
}

section {
    background-color: rgb(155, 155, 155);
}


aside {
    background-color: rgb(215, 215, 215);
}


div {
    background-color: rgb(120, 120, 120);
}

footer {
    background-color: rgb(190, 190, 190);
    position: fixed;
    bottom: 0;
    width: 100%;
}